<a href="#" id="new-button">New</a>
<table>
<thead>
    <tr>
        <th>First Name</th>
        <th>Last Name/th>
        <th>Phone Number</th>
        <th>Line 1</th>
        <th>Line 2</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let contact of contacts"> 
        <td>{{ contact.FirstName }}</td>
        <td>{{ contact.LastName }}</td>
        <td>{{ contact.PhoneNumber }}</td>
        <td>{{ contact.Line1 }}</td>
        <td>{{ contact.Line2 }}</td>
        <td>{{ contact.City }}</td>
        <td>{{ contact.State }}</td>
        <td>{{ contact.ZipCode }}</td>
        <td>
            <a href="#" (click)="editRecord(this)">Edit</a>
            <a href="#" (click)="deleteRecord(this)">Delete</a>
        </td>
    </tr>
</tbody>
</table>